.portfolio-filter {
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 10px 37px;
  justify-content: center;
  margin-bottom: 63px;
  flex-wrap: wrap;

  @include rmaxwd(991) {
    margin-bottom: 50px;
  }

  li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: $black;
    text-transform: capitalize;
    cursor: pointer;
    @include transition;

    &.active {
      color: $blue-color;
      @include transition;
    }
  }

}
.portfolio-style-two {
  background-color: $white;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 30px;

  &:hover {
    .image {
      .content-wrapper {
        visibility: visible;
        opacity: 1;
        @include transition;

        .content {
            .content-inner {
              margin-bottom: 0;
              @include transition;
            }
          .btn-wrapper {
            right: 0;
            @include transition;
          }
        }
      }
      img {
        transform: scale(1.1);
        @include transition;
      }
    }
  }
  .image {
    overflow: hidden;
    position: relative;

    img {
       transform: scale(1);
      @include transition;
      width: 100%;
    }
  }
  .content-wrapper {
    padding: 12px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    @include transition;
    background-color: rgba(16, 38, 82, 0.361);

    .content {
      display: flex;
      flex-direction: row;
      height: 100%;
      gap: 10px;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;

      .content-inner {
        margin-bottom: -100%;
        @include transition;
      }
      .sub-title {
        color: $white;
        background-color: $sky-color;
        border-radius: 8px 8px 0 0;
        padding: 13px 18px 16px 18px;
        font-size: 18px;
        line-height: initial;
        font-weight: 500;
        font-family: $body-font;
        display: inline-block;

        @include sm {
          padding: 8px 18px 8px 18px;
        }
      }
      .title {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 0;
        color: $black;
        background-color: $white;
        padding: 18px;
        border-radius: 0 8px 8px 8px;

        @include sm {
          font-size: 18px;
          line-height: 24px;
        }
      }

      .btn-wrapper {
        position: absolute;
        top: 0;
        right: -100%;
        flex-shrink: 0;
        padding: 0;
        @include transition;

        a {
          display: inline-flex;
          width: 60px;
          height: 60px;
          background-color: $orange-color;
          border-radius: 50px;
          color: $black;
          align-items: center;
          justify-content: center;
          @include transition;

          @include sm {
            width: 50px;
            height: 50px;
          }
          &:hover {
            @include transition;
            background-color: $primary-color;
            color: $white;
          }
        }
      }
    }
  }
}
