.service-card {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ced9da;
  margin-bottom: 24px;
  background-color: $white;
  @include transition;


  &:hover {
    background-color: $white;
    box-shadow: 0px 5px 60px 0px rgba(2, 24, 93, 0.12);
    border-color: transparent;
    @include transition;

    .image {
      img {
        @include transition;
        transform: scale(1.1);
      }
    }
    .content-wrapper {
      .icon {
        background-color: $orange-color;
        @include transition;
      }

      .title {
        color: $black;
      }
      .short-desc {
        color: $text-color;
      }
      .read-more {
        background-color: $orange-color;
        color: $black !important;
        @include transition;
      }
      .btn-wrapper {
        a {
          color: $blue-color;
        }
      }
    }
  }
  .image {
    overflow: hidden;

    img {
      @include transition;
      transform: scale(1);
      width: 100%;
    }
  }
  .content-wrapper {
    position: relative;
    padding: 40px 50px;

    @include rmaxwd(1199) {
      padding: 50px 35px;
    }
    .icon {
      width: 72px;
      height: 72px;
      background-color: $sky-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 47px;
      transform: translateY(-50%);
      @include transition;
    }

    .title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 30px;
      color: $black;
      line-height: 38px;
    }
    .short-desc {
      color: $text-color;
      font-size: 18px;
      font-weight: 400;
      font-family: $body-font;
    }
    .btn-wrapper {
      a {
        display: flex;
        align-items: center;
        color: $blue-color;
        font-size: 18px;
        font-family: $body-font;
        gap: 10px;
        font-weight: 500;
      }
    }
  }

}