.info-card {
    &.style-3 {
        padding: 0;
        background-color: transparent;
        box-shadow: none;

        @include rmaxwd(991) {
            margin-bottom: 60px;
        }
        .content-right {
            text-align: right;

            .title-wrapper {
                align-items: flex-end;
            }
        }
        .title-wrapper {
            .icon {
                width: unset;
                height: unset;
            }
        }
    }
}


// Before After Image
.after-before-image {
    text-align: center;

    .after-before-image-inner {
        display: inline-block;
        width: 480px;
        height: 480px;
        border-radius: 500px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;

        }
    }
}