.header-area {
  &.style-2 {
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 24px;

    .header-menu-area {
      background-color: transparent;
    }
    .logo {
      width: 292px;
      display: flex;
      text-align: center;
      justify-content: center;
    }

    .header-area-wrapper {
      display: flex;
      align-items: center;
      background-color: $white;
      border-radius:0 0 12px 12px;
      border-top: 5px solid $blue-color;
    }
    .header-wrapper {
      width: 100%;
      border-left: 1px solid #C9CFDCFF;

      // Header Top
      .header-top {
        background-color: transparent;
        border-bottom: 1px solid #C9CFDCFF;

       .header-contact-info {
         i {
           color: $sky-color;
         }
          span,
          a {
            color: $text-color;
          }
       }
        .header-contact-info span:before {
            background-color: #C9CFDCFF;
            opacity: 1;
        }
      }
      .social-profile {
        gap: 28px;

        a {
          color: $blue-color;
        }
      }
      // Header Menu
      .main-menu-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        .header-btn {
          margin-left: auto;
        }
        .menu {
          //margin-left: auto;
        }
        .main-menu {
          ul {
            li {
              a {
                color: #393d48;
                padding: 22px 24px;
              }
              &.active {
                position: relative;
                > a {
                  &:after {
                    top: unset;
                    bottom: 0;
                    background-color: $sky-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}