// Portfolio Area
.portfolio-area {
  &.style-1 {
    .portfolio-wrapper {
      padding-left: 100px;
    }
  }
}
// About Us Area
.about-us-area {
    &.style-1 {
      padding-top: 120px;
      padding-bottom: 120px;

      @include md() {
        padding-top: 100px;
        padding-bottom: 100px;
      }
      @include sm() {
        padding-top: 80px;
        padding-bottom: 80px;
      }
      .about-info-card {
        .about-info-content {
          padding-left: 110px;

          @media only screen and (min-width: 1200px) and (max-width: 1399px) {
            padding-left: 70px;
          }

          @include rmaxwd(1199) {
            padding-left: 0;
            padding-top: 60px;
          }
        }
      }
    }
}

// Counter Up Area
.counter-up-area {
  &.style-1 {
    margin-bottom: -120px;

    .counter-card-area {
      background-color: $primary-color;
      padding: 80px;
      border-radius: 12px;
    }
  }
}

// Why Choose Us Area
.feature-area {
  &.style-1 {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;

    @include md {
      padding-top: 80px;
      padding-bottom: 72px;
    }
    @include sm {
      padding-top: 60px;
      padding-bottom: 52px;
    }
    .section-title {
      margin-bottom: 70px;
    }
    .feature-area-wrapper {
      .feature-service-card {

        &:nth-child(even) {
          margin-top: 60px;

          @include rmaxwd(991) {
            margin-top: 0;
          }
        }
      }
    }
  }
}

// Service Area
.service-area {
  &.style-1 {
    padding-top: 230px;
    padding-bottom: 96px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $primary-color;


    @include md {
      padding-top: 220px;
      padding-bottom: 76px;
    }
    @include sm {
      padding-top: 200px;
      padding-bottom: 56px;
    }
    .section-title .sec-desc {
      color: #abb2c1;

    }

  }
}

// FAQ Area
.faq-area {
  &.style-1 {
    margin-bottom: -120px;

    .faq-wrapper {
      background-color: rgb(13, 28, 57);
      display: flex;
      border-radius: 12px;
      overflow: hidden;

      .accordion-wrapper {
        padding: 70px 50px;
      }
      .image {
        width: 50%;
        flex-shrink: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
  }
}

// Process Step Area
.process-step-area {
  background-color: rgb(233, 245, 246);
  padding-top: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 76px;
  }
  @include rmaxwd(767) {
    padding-top: 70px;
    padding-bottom: 42px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding-bottom: 67px;
  }
}


// Brand Slider Logo Area
.brand-slider-area {
  padding-top: 110px;
  padding-bottom: 110px;
}

// News Area
.latest-posts-area {
  &.style-1 {
    padding-top: 138px;
    padding-bottom: 110px;

    @include rmaxwd(991) {
      padding: 100px 0;
    }
    @include rmaxwd(767) {
      padding-top: 70px;
      padding-bottom: 36px;
    }

    .section-title {
      margin-bottom: 70px;
      @include rmaxwd(767) {
        margin-bottom: 50px;
      }
    }
  }
}

// Testimonial Area
.testimonial-slider-area {
  &.style-1 {
    padding-top: 240px;
    background-color: $primary-color;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include rmaxwd(991) {
      padding: 100px 0;
    }
    @include rmaxwd(767) {
      padding: 70px 0;
    }

    .testimonial-slider-wrapper {
      margin-top: 0;
      margin-bottom: -100px;
    }
  }
}

