// Service Area
.service-page-service-area {
    padding-top: 120px;
    padding-bottom: 96px;

    @include sm {
        padding-top: 80px;
        padding-bottom: 56px;
    }
    @include md {
        padding-top: 100px;
        padding-bottom: 76px;
    }

    .service-card {

    }

}
