// Service Area
.service-page-service-area {
    padding-top: 120px;
    padding-bottom: 96px;

    @include sm {
        padding-top: 80px;
        padding-bottom: 56px;
    }
    @include md {
        padding-top: 100px;
        padding-bottom: 76px;
    }

    .service-card {

    }

}
// Process Step Area
.service-page-process-step-area {
    background-color: rgb(233, 245, 246);
    padding-top: 120px;
    padding-bottom: 96px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    @include sm {
        padding-top: 80px;
        padding-bottom: 76px;
    }
    @include md {
        padding-top: 100px;
        padding-bottom: 96px;
    }
}

// Service Feature area
.feature-area {
    padding: 120px 0;

    @include sm {
        padding: 80px;
    }
    @include md {
        padding: 100px 0;
    }
    .feature-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0 12px 12px 0;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
    .feature-content-wrapper {
        .section-title {
            margin-bottom: 26px;

            .title {
                margin-bottom: 17px;
            }
            .sec-desc {
                font-size: 18px;
            }
        }
        .list-item {
            margin-bottom: 0;

            ul {
                margin-bottom: 0;
            }
        }
    }
}
// Service Details Page
.service-details-wrapper {
    padding-top: 144px;
    padding-bottom: 130px;

    @include rmaxwd(991) {
        padding: 100px 0;
    }
    @include rmaxwd(767) {
        padding: 70px 0;
    }

    .details-main {
        padding-left: 25px;

        @include rmaxwd(1199) {
            padding-left: 0;
        }
        img {
            border-radius: 12px;
        }
        .accordion-list-item {
            margin-bottom: 0;
        }
        .list-item {
            margin-bottom: 0;
        }
        .row.mt-55 {
            @include rmaxwd(767) {
                margin-top: 10px;
            }
        }
        .service-feature-img {
            margin-bottom: 44px;

            @include rmaxwd(767) {
                margin-bottom: 30px;
            }
        }
    }
    .faq-title {
        font-size: 30px;
    }
    .benefits-image {
        margin-bottom: 30px;

        img {
            @include rmaxwd(991) {
                width: 100%;
            }
        }

    }
}