.cta-area {
  position: relative;
  margin-bottom: -110px;
  z-index: 99;
}
.cta-card {
  display: flex;
  background-color: $sky-color;
  padding: 74px 320px 74px 74px;
  border-radius: 12px;
  align-items: center;
  position: relative;

  .image {
    position: absolute;
    right: -75px;
    bottom: 0;
  }
  .cta-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-grow: 1;
  }
  .cta-content {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 48px;
      color: $white;
      line-height: initial;
    }
    .sub-title {
      font-family: $body-font;
      color: $white;
      font-size: 21px;
      margin-bottom: 0;
    }
  }
  .cta-phone-number {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    flex-shrink: 0;

    .icon {
      width: 65px;
      height: 65px;
      background-color: $primary-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      color: $white;
    }
    .content {
      display: inline-flex;
      flex-direction: column;

      span {
        display: inline-block;
        width: 100%;
        font-family: $heading-font;
        color: $white;
        font-weight: 700;
      }
      .title {
        font-size: 18px;
      }
      .text {
        font-size: 36px;
        a {
          color: $white;
        }
      }
    }
  }
}