.price-card {
    background: white;
    z-index: 2;
    position: relative;
    border: 1px solid rgb(206, 217, 218);
    border-radius: 12px;
    overflow: hidden;

    .price-header {
        background-color: rgb(225, 237, 238);
        padding: 40px 48px;
    }
    .price-body {
        padding: 60px 48px;
    }
    .card-title {
        display: flex;
        margin-bottom: 30px;
        flex-direction: column;
        .sub-title {
            font-family: $body-font;
            font-weight: 400;
            font-size: 18px;
            line-height: initial;
            text-transform: capitalize;
            color: #6d768a;
            margin: 0;
        }
        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: initial;
            color: $secondary-color;
            font-family: $heading-font;
            margin-bottom: 20px;
        }
    }
    .price {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        margin-top: 26px;

        .price-heading {
            font-family: $heading-font;
            font-weight: 600;
            font-size: 48px;
            line-height: 42px;
            color: $sky-color;
            display: flex;
            align-items: center;
            gap: 2px;
            margin-bottom: 0;
            .currency {
                font-family: $heading-font;
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                color: $sky-color;
                text-align: start;
                align-self: flex-start;
            }
            .under-dot {
                font-family: $body-font;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                text-transform: capitalize;
                color: $white;
                align-self: end;
            }
        }
        .price-desc {
            font-family: $body-font;
            font-weight: 400;
            font-size: 16px;
            line-height: initial;
            text-transform: capitalize;
            color: #1c2325;
            margin-bottom: 0;
        }
    }
    .list {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        .price-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            .fa-check {
                color: $orange-color;
            }
            .fa-x {
                color: #bbc7cf;
            }
            .text {
                font-family: $body-font;
                font-weight: 400;
                font-size: 18px;
                color: #5e6f92;
                margin: 0;
            }
        }
    }
    .theme-btn {
        margin-top: 50px;
        gap: 30px;
        font-size: 16px;
    }
}
