.about-image-card {
  &.style-two {
    .main-img-wrapper {
      text-align: right;

      @include lg {
        text-align: center;
      }
      @include md {
        text-align: center;
      }
      .video-popup-card {
        width: 336px;
        height: 442px;
        padding: 8px;
        border-radius: 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $white;
        left: -95px;
        overflow: visible;

        .video-popup-image {
          border-radius: 12px;
          height: 100%;
          overflow: hidden;
        }

        .video-popup-btn {
          left: 100%;

            a {
              width: 120px;
              height: 120px;
            }
        }
      }
    }
  }
}