.counter-card {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;

  @include xs {
    flex-direction: column;
    gap: 50px;
  }

  .counter-item {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;

    .counter-title {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 30px;
      text-align: left;

      @include sm {
        flex-direction: column;
        gap: 15px;
      }
    }


    .number {
      font-family: $heading-font;
      font-style: normal;
      font-weight: 500;
      font-size: 96px;
      line-height: 72px;
      text-align: center;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      @include sm {
        font-size: 48px;
        line-height: 56px;
      }
      @include md {
        font-size: 48px;
        line-height: 56px;
      }
      @include lg {
        font-size: 74px;
      }
      sup {
        font-size: 36px;
        margin-top: -17px;
      }
    }
    .title {
      margin: 0;
      font-family: $heading-font;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 42px;
      color: $white;

      @include sm {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
      }
      @include md {
        font-size: 20px;
        line-height: 30px;
      }
      @include lg {
        font-size: 24px;
        line-height: 38px;
      }
      br {
        @include sm {
          display: none;
        }
      }
    }
    .text {
      margin: 0;
      color: $white-100;
    }
  }
}